{% load static %}
{% include "header.html" %}

        <div class="container">
            <div class="col-md-12">
                <div class="information_module">
                    <div class="toggle_title">
                        <h4>Editar Departamento</h4>
                    </div>
                    <div class="information__set">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="information_wrapper form--fields row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {% for d in departamento%}
                                        <input type="text" name="nombre" id="nombre" class="text_field"
                                            value="{{ d.Nombre }}">
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6" id="full-v">
                                    <button class="btn btn-primary">Guardar</button>
                                </div>
                            </div>  
                        </form>
                    </div><!-- ends: .information_wrapper -->
                </div><!-- ends: .information__set -->
            </div><!-- ends: .information_module -->
        </div><!-- ends: .col-md-12 -->


{% include "footer.html" %}