{% load static %}

{% include "header.html" %}

<div class="container">
    <h4>Departamentos empresa: {{ empresa.Nombre }}</h4>
    <div class="d-flex justify-content-end">
        <a href="/registrardepartamento/{{ empresa.id }}" class="btn btn-primary">Crear departamento</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre departamento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for d in deptos %}
            <tr>
                <td>{{ d.Nombre }}</td>
                <td>
                    <a href="/registroproceso/{{ d.id }}" class="text-decoration-none me-3">
                        <i class="fas fa-plus" title="Crear proceso"></i>
                    </a>
                    <a href="/editardepartamento/{{ d.id }}" class="text-decoration-none me-3">
                        <i class="fas fa-edit" title="Editar"></i>
                    </a>
                    <a href="#" onclick="borrar('{{ d.id }}')" class="text-decoration-none me-3">
                        <i class="fas fa-trash-alt" title="Eliminar"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
    function borrar(id) {
        Swal.fire({
            title: '¿Está seguro de eliminar el departamento?',
            text: "¡No podrá reversar esta acción!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    '¡Eliminado!',
                    'El departamento ha sido eliminada.',
                    'success'
                )
                location.href = "/borrardepartamento/" + id;
            }
        });
    }
</script>
{% include "footer.html" %}