{% load static %}

{% include "header.html" %}

<div class="container mt-3">
    <h4>Registre su Proceso</h4>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row g-3 mb-3">
            <div class="col">
                <label class="form-label">Fecha inicio</label>
                <input type="date" class="form-control" id="fechainicio" name="fechainicio" aria-describedby="fechainicioHelp">
                <div id="fechainicioHelp" class="form-text">Fecha en que comienza el proceso.</div>
            </div>
            <div class="col">
                <label class="form-label">Fecha fin</label>
                <input type="date" class="form-control" id="fechafin" name="fechafin" aria-describedby="fechafinHelp">
                <div id="fechafinHelp" class="form-text">Fecha en que termina el proceso.</div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col">
                <label class="form-label">Cargo</label>
                <input type="text" class="form-control" id="cargo" name="cargo" aria-describedby="cargoHelp">
                <div id="cargoHelp" class="form-text">Cargo a cubrir con la realización del proceso.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg mb-3">Crear proceso</button>
            
    </form>
</div>

{% include "footer.html" %}